<nav class="main">
  <ul class="wrapper">
    <li class="fork"><a href="https://github.com/B3ST">View On GitHub</a></li>
  </ul>
</nav>

<header class="main">
  <div class="wrapper">
    <h1 class="brand">
      <a href="/">
        <img src="/images/b3-logo.png" alt="B3 Logo" class="logo">
        <span class="name">B3</span>
      </a>
    </h1>

    <h2 class="brand">
      <a href="/" class="description">
        A JavaScript Starter Theme for WordPress
      </a>
    </h2>
  </div>
</header>